<footer class="footer bg-dark p-3 mt-3 fixed-bottom">
    <div class="container">
        <span class="text-white">Articles were scraped from <a
                href="https://www.gamesindustry.biz">gamesindustry.biz</a></span>
    </div>
</footer>