<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Gaming News</h1>
    <p class="lead">The latest headlines from the gaming industry!.</p>
  </div>
</div>

<form action="/" method="POST">
	<textarea type="text" name="wish"></textarea>

	<button type="submit">Submit</button>
</form>