<div class="jumbotron mt-3">
  <h1 class="display-4">Lastest News from the Gaming Industry</h1>
  <p class="lead">Select an article to leave a comment!</p>
</div>

<div class="row">
  <div class="col-md-12">
    {{#each articles}}
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.body}}</p>
        <a href={{this.link}}>Link to article</a>
        <button data-id={{this._id}} class="btn btn-danger">Unsave Article</button>
      </div>
    </div>
    {{/each}}
  </div>
</div>